In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv("ensemble100R.csv") # el mio
df1.head()

   respondent_id  h1n1_vaccine  seasonal_vaccine
0          26707      0.254148          0.322264
1          26708      0.131549          0.089965
2          26709      0.573340          0.680957
3          26710      0.538694          0.744888
4          26711      0.388117          0.418102

In [3]:
#df2 = pd.read_csv("Ensemble2.txt")
#df2.head()

In [3]:
#pred3 Alex
df2 = pd.read_csv("Prueba2R_seleccionCaracteristicas.csv")
df2.head()

   respondent_id  h1n1_vaccine  seasonal_vaccine
0          26707      0.053878          0.353897
1          26708      0.042405          0.007675
2          26709      0.491551          0.894728
3          26710      0.748733          0.820252
4          26711      0.270566          0.326182

In [5]:
#df3 = pd.read_csv("Ensemble3.txt")
#df3.head()

In [6]:
df3 = pd.read_csv("predLaura.csv")
df3.head()

   respondent_id  h1n1_vaccine  seasonal_vaccine
0          26707      0.031417          0.111505
1          26708      0.000660          0.001338
2          26709      0.744049          0.969306
3          26710      0.396360          0.932365
4          26711      0.567086          0.680087

In [7]:
df4 = pd.read_csv("javipred.csv")
df4.head()

   respondent_id  h1n1_vaccine  seasonal_vaccine
0          26707      0.121359          0.299606
1          26708      0.114687          0.190038
2          26709      0.298536          0.711188
3          26710      0.380940          0.741598
4          26711      0.219739          0.468931

In [4]:
data = pd.DataFrame()
data.head()

Empty DataFrame
Columns: []
Index: []

In [9]:
#df3.shape

(26708, 3)

In [5]:
df1.iloc[2]["h1n1_vaccine"]

0.573339878536564

In [6]:
h1n1_vaccine = []
seasonal_vaccine = []
for i in range(0,26708):
    
    h1n1_vaccine.append(np.mean([df1.iloc[i]["h1n1_vaccine"],df2.iloc[i]["h1n1_vaccine"]]) )
    seasonal_vaccine.append( np.mean([df1.iloc[i]["seasonal_vaccine"],df2.iloc[i]["seasonal_vaccine"]]) )

In [7]:
df1.columns

Index(['respondent_id', 'h1n1_vaccine', 'seasonal_vaccine'], dtype='object')

In [8]:
data['respondent_id'] = df1['respondent_id']
data["h1n1_vaccine"] = h1n1_vaccine
data['seasonal_vaccine'] = seasonal_vaccine
data.head()

   respondent_id  h1n1_vaccine  seasonal_vaccine
0          26707      0.154013          0.338081
1          26708      0.086977          0.048820
2          26709      0.532445          0.787843
3          26710      0.643714          0.782570
4          26711      0.329342          0.372142

In [9]:
data.to_csv("EnsembleMejoresR.csv",index = False)